@import "catppuccin.css";

* {
    font-family: monospace;
    font-size: 14px;
}

window#waybar {
    background-color: @base;
    color: @text;
    border: none;
}

label.module {
    padding: 0px 10px;
    margin: 0px 0px;
}

.modules-center {
    margin-left: 30px;
}

.modules-left > widget:first-child > * {
    margin-left: 10px;
}

.modules-right > widget:last-child > * {
    margin-right: 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    
    color: inherit;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    /* https://github.com/Alexays/Waybar/wiki/FAQ#workspace-buttons-are-too-wide-with-some-gtk-themes */
    min-width: 20px;
}

#workspaces button.active,
#workspaces button.focused
{
    background-color: @text;
    color: @base;
    border-radius: 3px;
    margin: 3px 0px;
}

#workspaces button.urgent {
    color: @peach;
}

#window,
#workspaces,
#submap,
#mode,
#language,
#cpu,
#battery,
#network,
#pulseaudio,
#clock {
    background-color: transparent;
    color: inherit;
}

label#submap,
label#mode {
    background-color: @text;
    color: @base;
    border-radius: 3px;
    margin: 3px 0px;
}

@keyframes blink {
    to {
        color: @text;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
    color: coral;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
